<h1>Enter Your Birthday</h1>
<p>Please enter your birthday:</p>
<form action="/birthday" method="post">
  <div class="mb-3">
    <label for="birthday" class="form-label">Birthday</label>
    <input type="text" class="form-control" id="birthday" name="birthday">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% if (typeof errors !== 'undefined') { %>
  <div class="alert alert-danger mt-3">
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
<% } %>
