<!DOCTYPE html>
<html>
<head>
    <title>Check-In</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="wrapper">
    <%- include('partials/sidebar') %>
    <div class="main_content">
        <div class="header" style="text-transform: uppercase;"><h2>Customer Check-In</h2></div>
        <div class="info">
            <form action="/checkin" method="post">
            <div class="mb-3">
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone" value="" required>
                <input type="submit" value="Check In">
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
