<!DOCTYPE html>
<html>
<head>
    <title>Check-In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/sidebar') %>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Check-In</div>
                    <div class="card-body">
                        <form action="/check-in" method="POST"> <!-- Make sure the 'action' points to /check-in -->
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number:</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                            </div>
                            <button type="submit" class="btn btn-primary login-button">Check In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
