<!DOCTYPE html>
<html>
<head>
    <title>Check-In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="wrapper">
    <%- include('partials/sidebar') %>
    <div class="main_content">
        <div class="header" style="text-transform: uppercase;"><h2>Customer Check-In</h2></div>
        <div class="info">
            <form action="/checkin" method="post" class="text-center">
                <div class="input-field">
                    <label for="phone" class="label-bigger">Enter your Phone Number:</label>
                    <input type="text" id="phone" name="phone" class="form-control form-control-lg" required>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>

            <!-- Centered Material Design-style header text -->
            <h3 class="text-center mt-4 font-weight-bold">Welcome to DaVi Nail</h3>
            <h2 class="text-center mt-4 font-weight-bold">Current Rewards: 1</h2>
        </div>
    </div>
</div>
</body>
</html>
