<!DOCTYPE html>
<html>
<head>
    <title>New Check-in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
</head>
<div class="wrapper">
    <%- include('partials/sidebar2') %>
</div>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">New Check-in</div>
                    <div class="card-body">
                        <form id = "addcustomerForm" action="http://ec2-18-116-39-255.us-east-2.compute.amazonaws.com:8000/addcustomer" method="POST">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" required>
                            </div>
                            <div class="form-group">
                                <label for="birthday"><i class="fa fa-calendar" style="color: #000000;"></i>Birthday:</label>
                                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="MM/DD/YYYY">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <input type="hidden" id="cust_id" name="cust_id" value= "<%= customers[0].cust_id %>">
                            <button type="submit" class="register-button">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    // Initialize 'flatpickr' for manualExpirationDate input
    const manualExpirationDateInput = document.getElementById('birthday');
    const flatpickrInstance = flatpickr(manualExpirationDateInput, {
        dateFormat: 'm/d/Y',
        enableTime: false,
    });

    document.getElementById('addReviewForm').addEventListener('submit', function(event) {
            event.preventDefault()
    
            // Get form data
            const formData = new FormData(this);
    
    
            // Send a POST request to your Flask endpoint
            fetch('http://ec2-18-116-39-255.us-east-2.compute.amazonaws.com:8000/addcustomer', {
                method: 'POST',
                credentials: 'include',  // Include cookies for authentication
                body: formData
            })
            .then(response => response.text())
            .then(data => {
            console.log(data);  // Log the response
            location.reload();  // Reset the form
        })
        .catch(error => {
            console.error('Fetch Error:', error);
        });
    });
</script>

</body>
</html>
