<!DOCTYPE html>
<html>
<head>
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<style>
    .button {
        float: right;
    }
</style>
<body>
<div class="wrapper">
    <%- include('partials/sidebar') %>
    <div class="main_content">
        <div class="header" style="text-transform: uppercase;">
            <h1>Reviews</h1>
            <button class="button">Edit Reviews</button>
        </div>
        <div class="info" style="padding: 50px">
            <div>
                <p><i class="fas fa-user"></i> Joseph Nguyen</p>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                <p>October 16, 2023</p>
                <!-- Your content here -->
            </div>
            <div>
                <p>This is why I like the nail salon.</p>
            </div>
            <br>
            <div>
                <p><i class="fas fa-user"></i> Joseph Nguyen</p>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                <p>October 16, 2023</p>
                <!-- Your content here -->
            </div>
            <div>
                <p>This is why I like the nail salon.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>