@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

/* wrapper style */
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 14%;
  height: 100%;
  background: #69f9da;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #000000;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #a795ff;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}


.wrapper .sidebar ul li.active {
    background-color: #f3f5f9; /* Highlight color for the active item */
    color: #000000; /* Text color for the active item */
}

.wrapper .sidebar .bottom-link {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 16%;
  margin-right: 2%;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #000000;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #000000;
  line-height: 25px;
}   

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

/* chart and table style */
.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #69f9da;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/* Adding pie chart styles*/

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

#doughnut-chart-container {
  display:inline-block;
  width:60%;
  height: auto; 
  text-align: center; /* Center the chart in the container */
  padding-right: 15%;
}
@media only screen and (max-width: 768px) {
  #doughnut-chart-container {
    width: 90%; /* 35% of the container width */
    height: auto; 
  }
}

.customer-total {
  width: 40%;
  text-align: left;
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 10%;
}

#totalCustomers {
  font-weight: bold;
  color: #000000;
}